<script>
    $(function(){
        //创建表单
        $("#bnTable").jqGrid({
            url : "[[@{/}]]banner/banner.json",   //page  当前页    rows 每页展示条数
            datatype : "json",
            rowNum : 2,
            rowList : [2,5,10,20,30],
            pager : '#bnPage',
            viewrecords : true,  //是否展示总条数
            styleUI:"Bootstrap",
            height:"auto",
            autowidth:true,
            colNames : [ 'Id', '图片', '描述', '状态', '上传时间'],
            colModel : [
                {name : 'id',index : 'id',width : 55},
                {name : 'srcImg',index : 'invdate',width : 90,align:"center",
                    formatter:function(cellvalue, options, rowObject){
                        return "<img src='../bootstrap/img/"+cellvalue+"' style='width:180px;height:80px' />";
                    }
                },
                {name : 'description',index : 'name asc, invdate',width : 100},
                {name : 'status',index : 'amount',width : 80,align : "right",align:"center",
                    formatter:function(cellvalue, options, rowObject){
                        if(cellvalue==1){
                            return "<button class='btn btn-success'>不展示</button>";
                        }else{
                            return "<button class='btn btn-danger'>展示</button>";
                        }
                    }
                },
                {name : 'uploadTime',index : 'note',width : 150,sortable : false}
            ]
        });
        //增删改查操作
        $("#bnTable").jqGrid('navGrid', '#bnPage', {edit : true,add : true,del : true,addtext:"添加",edittext:"编辑"});

    });
</script>
<div class="panel panel-info">
    <div class="panel panel-heading">
        <h3>轮播图管理</h3>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a >轮播图管理</a></li>
    </ul>
    <table id="bnTable"/>
    <div id="bnPage" />

</div>